<h1>Offer to Help</h1>

<div>
        <div class="card bg-transparent border-secondary mb-3 p-2" [hidden]="!request">
            <div class="card-body">
                <p class="card-title lead">{{ request?.location }}</p>
                <p class="card-text text-muted">{{ request?.description }}</p>
                <p class="card-text text-right blockquote-footer">{{ request?.name }}</p>
                <form [formGroup]="newOfferForm" 
                    (ngSubmit)="onSubmit(newOfferForm.value)">
                    <div class="form-group">
                        <label for="description">How you can help {{ request?.name }}?</label>
                        <textarea class="md-textarea md-textarea-auto form-control" 
                            id="description" formControlName="description" rows="3" 
                            placeholder="What help can you offer?"></textarea>
                    </div>
                    <button [disabled]="newOfferForm.invalid" type="submit" class="btn btn-primary">Send Offer</button>
                </form>
            </div>
        </div>
</div>
