<h1>Offer to Help</h1>

<div>
    <div class="card bg-transparent border-secondary mb-3 p-2" [hidden]="!request">
        <app-request-card *ngIf="request" [request]="request">
            <form [formGroup]="newOfferForm" (ngSubmit)="onSubmit(newOfferForm.value)">
                <div class="form-group">
                    <label for="description">How you can help {{ request.name }}?</label>
                    <textarea class="md-textarea md-textarea-auto form-control" id="description"
                        formControlName="description" rows="3" placeholder="What help can you offer?"></textarea>
                </div>

                <div class="d-flex flex-row">
                    <button [disabled]="newOfferForm.invalid" type="submit" class="btn btn-primary">Send Offer</button>
                    <button class="btn btn-primary btn-sm ml-1">Cancel</button>
                </div>
            </form>            
        </app-request-card>
    </div>
</div>