<h1>My Request</h1>

<div>
  <div class="card bg-transparent border-secondary mb-3 p-2">
    <app-request-card *ngIf="request" [request]="request">
      <div class="container" [hidden]="!offers">
        <p class="card-text">Offers</p>
        <div class="mb-1" *ngFor="let offer of offers">
          <hr>
          <p class="card-text text-muted">{{ offer.description }}</p>
          <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-primary btn-sm ml-1" (click)="onRespondToOffer(offer)">Respond</button>
          </div>
        </div>
      </div>
    </app-request-card>
  </div>
</div>