<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-secondary box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']" (click)="collapse()">
        <img class="logo" src="/assets/app_icon_large.jpg">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
        aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/requests/new']" (click)="collapse()">Ask for Help</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['/requests']" (click)="collapse()">Help Someone</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['profile/myrequests']" (click)="collapse()">My Requests</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-light" [routerLink]="['profile/myoffers']" (click)="collapse()">My Offers</a>
          </li>
        </ul>

          <!-- Displayed when user is logged in -->
          <ul class="navbar-nav flex-grow" [hidden]="!userService?.currentUser">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-light" [hidden]="!userService?.currentUser" [routerLink]="['/profile']"
                (click)="toggle()">
                My Profile
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-light" [hidden]="!userService?.currentUser"
                href="/.auth/logout?post_logout_redirect_uri=/login" (click)="toggle()">
                Sign Out
              </a>
            </li>
          </ul>

          <!-- Displayed when user is not logged in -->
          <ul class="navbar-nav flex-grow" [hidden]="userService?.currentUser">
            <li class="nav-item" [routerLinkActive]="['link-active']">
              <a class="nav-link text-light" [routerLink]="['/login']" (click)="toggle()">
                Sign In
              </a>
            </li>
        </ul>

      </div>

    </div>
  </nav>
</header>