<h1>Help Someone</h1>

<div>
    <div class="container">
        <div class="card bg-primary m-3 p-2" *ngFor="let request of requests">
            <div class="card-block">
                <p class="card-title lead">{{ request.location }}</p>
                <p class="card-text text-light">{{ request.description }}</p>
            </div>
            <div class="p-2 text-right">
                <button type="button" class="btn btn-outline-light btn-md" 
                (click)="onAssignRequest(request)">I Can Help</button>
            </div>
        </div>
    </div>
</div>
