<h1>Help Someone</h1>

<div>
    <div class="container">
        <div class="card bg-primary m-3 p-2" *ngFor="let request of requests">
            <div class="card-block">
                <p class="card-title lead">{{ request.location }}</p>
                <p class="card-text text-light">{{ request.description }}</p>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary btn-sm float-left" (click)="onSelectRequest(request)">Edit</button>
                <button type="button" class="btn btn-primary btn-sm float-right" (click)="onAssignRequest(request)">Assign Request</button>
            </div>
        </div>
    </div>
</div>
