<div class="text-center">
    <h1 class="app-title display-4 text-primary">{{appTitle}}</h1>
    <p class="">In order to use {{appTitle}}, you must first sign in using one of the following providers:</p>
  
    <div class="d-flex flex-column justify-content-between">
      <a class="m-1 btn btn-lg btn-facebook text-left" href="/.auth/login/facebook?post_login_redirect_url=/">
        <img class="logo" src='/assets/facebook_logo.png' />
        Continue with Facebook
      </a>
      <a class="m-1 btn btn-lg btn-google text-left" href="/.auth/login/google?post_login_redirect_url=/">
        <img class="logo" src='/assets/google_logo.png' />
        Sign in with Google
      </a>
      <a class="m-1 btn btn-lg btn-microsoft text-left" href="/.auth/login/microsoftaccount?post_login_redirect_url=/">
        <img class="logo" src='/assets/microsoft_logo.png' />
        Sign in with Microsoft
      </a>
    </div>
  
  </div>