<div class="container">
    <h1>User Profile</h1>

    <div class="col-sm-8">
        <form class="form">
            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Name:</label>
                <input id="name" class="col-8 form-control-plaintext" readonly value="{{currentUser?.name}}">
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email:</label>
                <input id="email" class="col-8 form-control-plaintext" readonly value="{{currentUser?.email}}">
            </div>
            <div class="form-group row">
                <label for="provider" class="col-4 col-form-label">Provider:</label>
                <div class="col-8 form-control-plaintext" [hidden]="!currentUserDetails">
                    <img class="logo" [src]="getProviderLogo(currentUserDetails)">
                    <span>{{getProviderName(currentUserDetails)}}</span>
                </div>
            </div>
        </form>
        <a class="btn btn-primary btn-lg" href="/.auth/logout?post_logout_redirect_uri=/login">
            Sign Out
        </a>
    </div>
</div>