<div class="container">
    <h1>My Profile</h1>

    <div class="col-sm-8 col-md-6 col-lg-4">
        <form class="form">
            <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Name:</label>
                <input id="name" class="col-8 form-control-plaintext" readonly value="{{userService?.currentUser?.name}}">
            </div>
            <div class="form-group row">
                <label for="email" class="col-4 col-form-label">Email:</label>
                <input id="email" class="col-8 form-control-plaintext" readonly value="{{userService?.currentUser?.email}}">
            </div>
            <div class="form-group row">
                <label for="provider" class="col-4 col-form-label">Provider:</label>
                <div class="col-8 form-control-plaintext" [hidden]="!userService?.currentUser">
                    <img class="logo" [src]="getProviderLogoUrl(userService?.currentUser)">
                    <span>{{getProviderDisplayName(userService?.currentUser)}}</span>
                </div>
            </div>
        </form>

        <div class="d-flex flex-row justify-content-between">
            <button type="button" class="btn btn-primary btn-lg text-nowrap" (click)="onMyRequests()">My Requests</button>
            <button type="button" class="btn btn-primary btn-lg text-nowrap" (click)="onMyOffers()">My Offers</button>
        </div>
    </div>
</div>