<h1>My Offers</h1>

<div>
    <div class="card bg-transparent border-secondary mb-3 p-2" *ngFor="let offer of offers">
        <div class="card-header">
            <p class="card-title lead">{{ offer.requestDetail.location }}</p>
            <p class="card-subtitle small">{{ offer.requestDetail.created | date }}</p>
        </div>
        <div class="card-body">
            <p class="card-text text-muted">{{ offer.requestDetail.description }}</p>
            <p class="card-text text-right blockquote-footer">{{ offer.requestDetail.name }}</p>
            <p class="card-text">You offered to help on {{ offer.created | date }}</p>
            <p class="card-text text-muted">{{ offer.description }}</p>
            <span class="text-highlight" [ngSwitch]="offer.state">
                <p *ngSwitchCase="'accepted'">
                Congratulations! Your offer to help {{ offer.requestDetail.name }} has been accepted.
                <br>The phone is: {{ offer.requestDetail.phone }}
                </p>
                <p *ngSwitchCase="'rejected'">
                Your offer to help with this request was not accepted.
                </p>
                <p *ngSwitchCase="'submitted'">
                Your offer is still being considered.
                </p>
            </span>
        </div>
    </div>
</div>