<h1>My Offers</h1>

<div>
    <div class="card bg-transparent border-secondary mb-3 p-2" *ngFor="let offer of offers">
        <div class="card-block">
            <p class="card-title lead">{{ offer.requestDetail.location }}</p>
            <p class="card-text text-muted">{{ offer.requestDetail.description }}</p>
            <p class="card-text text-right blockquote-footer">{{ offer.requestDetail.name }}</p>
        </div>
        <div class="card-body">
            <p class="card-text">Your Offers</p>
            <p class="card-text text-muted">{{ offer.description }}</p>
        </div>
    </div>
</div>