<h1>My Requests</h1>

<div class="card bg-transparent border-secondary mb-3 p-2" *ngFor="let request of requests">
    <app-request-card [request]="request" displayState="true">
        <div class="d-flex flex-row-reverse">
            <button type="button" class="btn btn-primary btn-sm ml-2" [disabled]="(request.state != 'open')"
                (click)="onUpdateRequest(request)">Edit this
                request</button>
            <button type="button" class="btn btn-primary btn-sm ml-2" [hidden]="!request['offers']"
                (click)="onShowOffers(request)">Show
                offers</button>
            <button type="button" class="btn btn-primary btn-sm" [disabled]="(request.state != 'open')"
                (click)="onCloseRequest(request)">Close
                request</button>
        </div>
    </app-request-card>
</div>