<h1>My Requests</h1>

<div>
    <div class="card bg-transparent border-secondary mb-3 p-2" *ngFor="let request of requests">
        <div class="card-body">
            <p class="card-title lead">{{ request.location }}</p>
            <p class="card-text text-muted">{{ request.description }}</p>
            <p class="card-text text-right blockquote-footer">{{ request.name }}</p>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sm" (click)="onUpdateRequest(request)">Edit this
                    request</button>
            </div>

            <div class="container" [hidden]="!request['offers']">
                <p class="card-text">Offers</p>
                <div class="mb-1" *ngFor="let offer of request['offers']">
                    <hr>
                    <p class="card-text text-muted">{{ offer.description }}</p>
                    <div class="d-flex flex-row-reverse">
                        <button type="button" class="btn btn-primary btn-sm ml-1"
                            (click)="onAcceptOffer(offer)">Accept</button>
                        <button type="button" class="btn btn-primary btn-sm ml-1"
                            (click)="onRejectOffer(offer)">Reject</button>
                    </div>
                </div>
            </div>
        </div>

    </div>