/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  /* NY Aid body color */
  background-color: #bcbcbc;
}

h1 {
  /* NY Aid text color and family */
  color: #ffffff;
  font-family: Big Apple NF;
  font-size: 72pt;
  text-align: center;
}

p {
  /* NY Aid text color and text aligning center */
  color: #4f4f4f;
  text-align: center;
  font-size: 36pt;
  font-family: Balthazar;
}

.textcolor {
  color:white;
}

.center {
  text-align: center;
}

#roundcorners {
  border-radius: 25px;
}

.container { 
  height: 100px;
  position: relative;
}

.button {
  background-color: #f15642;
  padding: 10px 50px;
  margin:0 auto;
  display:block;
  font-size: 25pt;
  margin: 40px auto;
}

img {
  width: 100%;
  height: auto;
}
